credentials
client_secrets.json

*all.jsonl

finetuning_results/**
!finetuning_results/**/
!finetuning_results/**/training_eval_loss.png
!finetuning_results/**/training_loss.png
!finetuning_results/**/train_results.json
!finetuning_results/**/trainer_state.json
!finetuning_results/**/config.json
!finetuning_results/**/generation_config.json
!finetuning_results/**/preprocessor_config.json

intermediate/**/images
intermediate/alphageometry/graphs
intermediate/alphageometry/questions
intermediate/alphageometry/info
intermediate/images_for_examples_in_paper

dataset/train/images/CLEVR/
dataset/train/images/SuperCLEVR/
dataset/train/images/SyntheticGeometry/

new_internvl_models

tmp
tmp.*
cache

*.zip
*__pycache__
